# Test if stdin is a tty and the TERM isn't dumb (emacs specific)
if [ -t 0 ] && [ "${TERM}" != "dumb" ]; then
  export CARGO_TARGET_DIR=$(uniq_cache rust)
else
  export CARGO_TARGET_DIR=$(uniq_cache rust-analyzer)
fi
export PREFIX=${CARGO_TARGET_DIR}

export PATH=$PATH:${CARGO_TARGET_DIR}/debug:${CARGO_TARGET_DIR}/release:$(pwd)/result/bin:${PREFIX}/debug:${PREFIX}/release
export RUST_BACKTRACE=full

# Make this stuff non portable but slightly faster
#export RUSTFLAGS="-C target-cpu=native"

export NONIX=sure

export RUST_LOG=info,lib=debug

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes, .envrc requires me to reload
# anyway so yeah... (note I could make it automagic but prefer not to)
watch_file flake.nix
