# Find a better way to do this... just snagging the uniq_tmpdir function
mylib=~/src/pub/github.com/mitchty/nix/static/src/lib.sh
if [ -e "${mylib}" ]; then
  . ${mylib}
  export CARGO_TARGET_DIR=$(TMPDIR=~/src/tmp uniq_tmpdir rust)
  export PREFIX=${CARGO_TARGET_DIR}
else
  export PREFIX=$(pwd)/target
fi

export PATH=$PATH:$(pwd)/result/bin:${PREFIX}/debug:${PREFIX}/release
export RUST_BACKTRACE=full

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes, .envrc requires me to reload
# anyway so yeah... (note I could make it automagic but prefer not to)
watch_file flake.nix
